.containerAstronaut {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;

    .illustration {
        width: fit-content;
        height: 100%;
        margin: auto;
    }
}

.astronaut {
    animation-name: Moving;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.paperOne {
    fill: var(--astronaut-paper-one);
}
.glass {
    fill: var(--astronaut-glass);
}
.outfit {
    fill: var(--astronaut-outfit);
}
.bag {
    fill: var( --astronaut-bag);
}

.socialMediaContent {
    position: absolute;
    font-size: 2rem;
    animation-name: MovingRev;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

.socialMediaLeft {
    left: 2rem;
}

.socialMediaRight {
    right: 2rem;
}

.github {
    top: 2rem;
    right: 5rem;
    animation-name: MovingG;
    animation-duration: 4s;
    &>svg>path {
        fill: var(--toggle-theme)
    }
}
.instagram>svg>path {
    fill: #8134af;
}

.linkedin,
.facebook {
    animation-name: Moving;
}

.gmail,
.instagram {
    animation-name: MovingRev;
}

.facebook,
.instagram {
    bottom: 2rem;
}
.gmail,
.linkedin {
    bottom: 8rem;
}

@keyframes Moving {
    from {
        transform: translate(-20px, 15px);
    }

    to {
        transform: translate(10px, -15px);
    }
}

@keyframes MovingG {
    from {
        transform: translate(30px, -5px);
    }

    to {
        transform: translate(-25px, 5px);
    }
}

@keyframes MovingRev {
    from {
        transform: translate(20px, -15px);
    }

    to {
        transform: translate(-10px, 15px);
    }
}

@media (max-width: 991px) {
    .containerAstronaut .illustration {
        width: 60%;
    }
}